<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Player</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="player">
        <video id="media">
            <source src="" type="video/mp4">
        </video>
        <img id="image" src='../static/song-avatar.jpg'  style="display: none; width: 100%;"></img>
        <div class="controls">
            <button id="playPause">Грати/Пауза</button>
            <button id="stop">Зупинити</button>
            <button id="backward">⏮</button>
            <button id="forward">⏭</button>
            <input type="file" id="fileInput" accept="video/*" style="display: none;">
            <button id="loadVideo">Завантажити</button>
            <input type="range" id="seekBar" min="0" value="0">
            <span id="timeDisplay">00:00 / 00:00</span>
        </div>
        
    </div>
    <script src="script.js"></script>
</body>
</html>
